<div class="upload-container">
</div>

<div id="video-container">
    <video type='video/mp4' id="snippet-videoEl" [hidden]="hideSnippetVidEl"></video>
    <video type='video/mp4' id="tapestry-videoEl" [currentTime]="tapestryCurrentTime" (timeupdate)="updateTimeElements()" (click)="togglePlayPause()"></video>
    <div class="controls">
        <div id="slider-container" (click)="jumpToTimeClick($event)">
            <div id="preview-slider-thumb" [style.width.%]="previewSnippet.durationWidth" cdkDragBoundary="#slider-container" cdkDragLockAxis="x" cdkDrag></div>
            <div id="main-slider" [style.width.%]="(tapestryVidEl.currentTime / tapestryVidEl.duration) * 100" (cdkDragMoved)="dragMoved($event)" cdkDragBoundary="#slider-container" cdkDragLockAxis="x" cdkDrag></div>
        </div>
        <div id="snippet-pool-container">
            <div class="snippet-pool-el" *ngFor="let snippet of snippetPool" [style.width.%]="snippet.durationWidth" [style.margin-left.%]="snippet.timeStartPos" [hidden]="hidePreviewVidEl"></div>
        </div>
        <div id="play-buttons">
            <mat-icon (click)="togglePlayPause()" id="play-pause">{{pausePlay}}</mat-icon>
            <p id="timer">{{timeMinsSecs}}</p>
        </div>
    </div>
</div>

<div id="primary-container">
    <div class="sections-container">
        <div class="section-button" id="upload-button" (click)="sectionSelect('upload')">Upload</div>
        <div class="section-button" id="browse-button" (click)="sectionSelect('browse')">Browse</div>
        <div class="section-button" id="comments-button" (click)="sectionSelect('comments')">Comments</div>
    </div>  
    <hr>  
    <div *ngIf="sectionHide == 'upload'">
        <div class="upload-container">
            <div class="flex-container">
                <input type="file" (change)="createSnippetFromFile($event)" id="selectFile" #selectFileEl>
                    <div class="button-container">
                        <button mat-raised-button color="primary" type="button" (click)="selectFileEl.click()">
                            <mat-icon>attach_file</mat-icon>
                            Select File
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <div id="browse-section" *ngIf="sectionHide == 'browse'">
        <div 
        *ngFor="let snippet of snippetList" 
        class="snippet-timeline-bar" [attr.id]="'snippet-timeline-' + snippet.id"
        [style.width.%]="snippet.durationWidth" 
        [style.margin-left.%]="snippet.timeStartPos"
        (click)="loadSnippetToPool(snippet)"
        ></div>
    </div>
    <div *ngIf="sectionHide == 'comments'"></div>

        
    <div id="snippet-container">

    </div>
</div>