<div class="upload-container">
</div>

<div class="video-container">
    <video type='video/mp4' id="snippet-video"></video>
    <video type='video/mp4' id="tapestry" (timeupdate)="updateTimeElements()" (click)="togglePlayPause()"></video>
    <div class="controls">
        <div id="orange-bar" (click)="jumpToTime($event)">
            <div class="orange-juice" [style.width.%]="juiceWidth"></div>
            <div id="snippet-slider" cdkDragLockAxis="x" cdkDragBoundary="#orange-bar" (cdkDragMoved)="sliderMoved($event)" cdkDrag></div>
        </div>
        <div class="buttons">
            <mat-icon (click)="togglePlayPause()" id="play-pause">{{pausePlay}}</mat-icon>
            <p>{{timeMinsSecs}}</p>
        </div>
    </div>
</div>

<div id="primary-container">
    <div class="sections-container">
        <div class="section-button" id="upload-button" (click)="sectionSelect('upload')">Upload</div>
        <div class="section-button" id="browse-button" (click)="sectionSelect('browse')">Browse</div>
        <div class="section-button" id="comments-button" (click)="sectionSelect('comments')">Comments</div>
    </div>  
    <hr>  
    <div *ngIf="sectionHide == 'upload'">
        <div class="upload-container">
            <div class="flex-container">
                <input type="file" (change)="createSnippetFromFile($event)" id="selectFile" #selectFileEl>
                    <div class="button-container">
                        <button mat-raised-button color="primary" type="button" (click)="selectFileEl.click()">
                            <mat-icon>attach_file</mat-icon>
                            Select File
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <div id="browse-section" *ngIf="sectionHide == 'browse'">
        <div 
        class="snippet-bar" *ngFor="let snippet of snippetList; let i = index" 
        [style.width.px]="(snippet.timeEnd - snippet.timeStart) * pxPerSecondConversion" 
        [style.margin-left.px]="(snippet.timeStart * pxPerSecondConversion)"
        ></div>
    </div>
    <div *ngIf="sectionHide == 'comments'"></div>

        
    <div id="snippet-container">

    </div>
</div>